@mixin btn_cirkle {
  width: 40px;
  height: 40px;
  background: $pink no-repeat center center;
  border-radius: 50%;
  border: none;
}

@mixin link-hover {
  transform: translate(7px, 0);
  font-size: 110%;
  transform-origin: left center;
  color: $pink;
  transition: all 500ms ease-in;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}