$main-color: #F8F8F8;
$placeholder: #B5B6BC;
$lightblue: #D9FFF5;
$pink: #FF3E79;
$blue: #41F6D7;
$text-color: #1B1C21;
$white:#fff;
$subheader-color :#7E7E82;
$decorator-grey-color: #EAEAEA;
$border-lightblue-color: #D9FFF5;
$border-active-color: #B8FFEC;
$transition: all 400ms linear;
$gradient-fade: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
$gradient-subheader: linear-gradient(270deg, #FFFFFF 0%, #F8F8F8 98.61%);
$box-shadow-left: -2px 0px 4px rgba(69, 79, 126, 0.02),
16px 0px 52px rgba(14, 24, 80, 0.2);
$box-shadow-right: 16px 0 52px rgba(14, 24, 80, 0.2),
-2px 0 4px rgba(69, 79, 126, 0.02);
$regular: 'TT Lakes Regular',
sans-serif;
$medium: 'TT Lakes Medium',
sans-serif;
$bold: 'TT Lakes Bold',
sans-serif;